# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio stuff
.vs
x64
Debug
Release
*.vcxproj.user
*.pdb
*.obj
*.user
*.suo
UpgradeLog.htm

# Build output
/_build_debug
/_build_release
/doxygen

# Unwanted
kwic_VC100_debug.exe
kwic/
whoops/
