/////////////////////////////////////////////////////////////////////////////

// Blows up VC++ 2010 and apparently not needed: #include "c:wxWidgets-3.0.3/include/wx/msw/wx.rc" // DRN: path // Includes WX library default resources 


/////////////////////////////////////////////////////////////////////////////
//
// ICONS
//
Testdc                ICON    "res/Testdc.ico"


/////////////////////////////////////////////////////////////////////////////
//
// BITMAPS
//
//help                    BITMAP  "res/help.bmp"
